<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
  <div class="card-img">
    <img [src]="destino.imagenUrl" alt="" />
    <span><h4>{{position}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>servicios</p>
    <ul>
      <li *ngFor="let s of destino.servicios">
        <span [ngSwitch]="s">
          <em *ngSwitchCase="'desayuno'" style="color:red">{{s}}</em>
          <em *ngSwitchDefault>{{s}}</em>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
        <em class="material-icons md-18">thumb_up</em>
      </a>
      <a *ngIf="destino.votes > 0" href="#" (click)="voteDown()"  appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
        <em class="material-icons md-18">thumb_down</em>
      </a>
      {{destino.votes}}
    </div>
    <a href="#" class="btn-card" (click)="ir()"  appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
    <a href="#" class="btn-card" (click)="delete()">Borrar</a>
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable> - PREFERIDO -</span>
    </span>
    <a [routerLink]="['/destino', destino.id]">Ver Detalle</a>
  </div>
</div>
