<div class="page-header">
  <div style="float: right;">
    <select (change)="translate.use(selectLang.value)" #selectLang>
      <option value="es">Espanol</option>
      <option value="fr">France</option>
      <option value="en">English</option>
    </select>
  </div>


  <div class="container">
    <h1>Routing Siple</h1>
    <div class="navLink">
      <a [routerLink]="['/home']">Home</a>
    </div>
  </div>
</div>

<div class="container content">

  <div class="row">
    <h1>
      {{title}} <strong [innerHtml]="'HOLA' | translate"></strong>
    </h1>
  </div>

  <router-outlet></router-outlet>
</div>

<hr class="mb-5" >

<span><em [innerHtml]="'FECHA' | translate"></em>: {{time | async}}</span>
